---
import SplitRow from "../SplitRow.astro";
---

<section class="w-full bg-cream pt-section-gap pb-0 overflow-hidden">
  <div class="container-custom">
    <SplitRow
      title="“Desde el inicio nos propusimos crear un modelo de negocios diferente, donde la asesoría fuese el principal elemento de las actividades a desarrollar.”"
      text="Nuestros servicios están diseñados pensando en usted y guiados por nuestros valores de integridad, compromiso y fraternidad. Impulsamos cada solución a través del trabajo en equipo, la solidaridad y la sostenibilidad, <strong>garantizándole un servicio de excelencia que no solo hace crecer su patrimonio, sino que también genera un impacto positivo en nuestro entorno.</strong>"
    >
      <div class="flex items-stretch gap-4 mt-8">
        <div class="w-[5px] bg-primary shrink-0"></div>
        <div class="flex flex-col justify-center">
          <span class="block text-p-small! uppercase">
            Presidente Ejecutivo de MMG Bank
          </span>
          <span class="block font-bold text-p-large! mt-1">
            Jorge Enrique Morgan V.
          </span>
        </div>
      </div>
    </SplitRow>
  </div>
</section>
