---
import '../styles/global.css';

interface Props {
	title?: string;
	description?: string;
}

const { 
	title = "MMG Bank | Soluciones globales para clientes ambiciosos", 
	description = "En MMG Bank somos su socio estratégico en asesoría financiera, diseñados para acompañarle en su evolución y expansión con estrategias sólidas y diversificadas." 
} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<slot />
	</body>
</html>
